/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@import "shared/header";
@import "shared/footer";
@import "home/index";
@import "categories/show";

body {
  font-family: 'Roboto Condensed', sans-serif !important;

  min-width: 1170px;

  a, a:hover, a:focus {
    text-decoration: none;
  }
}

.container {
  max-width: none !important; 
  width: 1170px;
}

#main-container {
  margin-bottom: 50px;
}

.width-100 {
  width: 100%;
}

.width-64-px {
  width: 64px;
}

.width-100-px {
  width: 100px;
}

.nav-tabs  {
  .panel {
    margin-bottom: 0;
  }
}

.backgroud-with-red {
  background-color: #e75353;
  color: white;
}

.backgroud-with-blue {
  background-color: #e75353;
  color: white;
}

.backgroud-with-green {
  background-color: #e75353;
  color: white;
}

.background-inherit {
  background-color: inherit !important;
}
.custom-form {
  select.date {
    display: inline-block;
    width: 30%;
    max-width: 100px;
  }

  label.custom-label {
    text-align: left;
  }

  span.radio {
    display: inline-block;
    margin-right: 35px;
    input {
      height: 20px;
      line-height: 20px;
      box-shadow: 0 0 0;
    }

    span {
      position: relative;
      right: -15px;
    }
  }

  table {
    .form-group {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.panel-title {
  font-weight: 700;
}
